<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Permite que WordPress cargue el widget desde otro dominio -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>

    <!-- Tipos MIME para que IIS reconozca los archivos correctamente -->
    <staticContent>
      <remove fileExtension=".js" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".js"  mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>

  </system.webServer>
</configuration>
